@charset "UTF-8";
body {
  font-family: "Inter", sans-serif;
}

th, td {
  vertical-align: middle;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#chart-modal {
  padding: 2rem;
}
#chart-modal .modal-dialog {
  max-width: unset;
  padding: 0;
  margin: 0;
}
#chart-modal .modal-dialog, #chart-modal .modal-dialog .modal-content {
  height: 100%;
}

[data-action] {
  cursor: pointer;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}

.table-responsive.fixed-header {
  height: 100%;
}
.table-responsive.fixed-header th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: inset 0 -2px 0 var(--bs-border-color);
  border-top: none;
  border-bottom: none;
}
.table-responsive.fixed-header tbody tr:first-child td {
  border-top: none;
}

#filters {
  height: 100vh;
  width: 350px;
}

.select2-container {
  font-size: 13px;
  --s2-color: #eee;
  --s2-placeholder-color: #ddd;
  --s2-min-height: 40px;
  --s2-border-radius: var(--bs-border-radius);
  --s2-border-color: #ddd;
  --s2-active-border-color: var(--s2-border-color);
  --s2-padding-x: 12px;
  --s2-option-padding: 8px var(--s2-padding-x);
  --s2-option-hover-bg-color: #e7e7e7;
  --s2-option-hover-text-color: var(--bs-info-text-emphasis);
  --s2-option-active-bg-color: var(--s2-option-hover-bg-color);
  --s2-option-active-text-color: #333;
  --s2-choices-padding: 5px;
  --s2-choices-bg-color: var(--s2-option-hover-bg-color);
  --s2-choices-border-color: var(--s2-option-hover-bg-color);
  --s2-choices-text-color: #333;
  /* SELECTION */
  /* DROPDOWN */
  /* DROPDOWN ABERTO */
}
.select2-container .selection {
  width: 100%;
}
.select2-container .selection .select2-selection {
  display: flex;
  height: unset;
  border-radius: var(--s2-border-radius);
  border: 1px solid var(--s2-border-color);
}
.select2-container .selection .select2-selection.select2-selection--single {
  height: var(--s2-min-height);
}
.select2-container .selection .select2-selection.select2-selection--single .select2-selection__rendered {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 var(--s2-padding-x);
}
.select2-container .selection .select2-selection.select2-selection--multiple {
  min-height: var(--s2-min-height);
  padding: var(--s2-choices-padding);
  padding-top: 0;
  padding-left: 0;
}
.select2-container .selection .select2-selection.select2-selection--multiple .select2-search--inline {
  height: calc(var(--s2-min-height) - 2 * var(--s2-choices-padding));
  display: inline-flex;
  margin: var(--s2-choices-padding);
  margin-bottom: 0;
  margin-right: 0;
}
.select2-container .selection .select2-selection.select2-selection--multiple .select2-search--inline .select2-search__field {
  font-family: unset;
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: calc(var(--s2-min-height) - 2 * var(--s2-choices-padding));
}
.select2-container .selection .select2-selection.select2-selection--multiple .select2-selection__rendered {
  margin: 0;
}
.select2-container .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  height: calc(var(--s2-min-height) - 2 * var(--s2-choices-padding));
  display: inline-flex;
  flex-direction: row-reverse;
  padding: 0 var(--s2-choices-padding);
  align-items: center;
  background-color: var(--s2-choices-bg-color);
  border-color: var(--s2-choices-border-color);
  color: var(--s2-choices-text-color);
}
.select2-container .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
  all: unset;
  display: flex;
  cursor: pointer;
}
.select2-container .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove span {
  margin-top: -3px;
  margin-left: 5px;
}
.select2-container .selection .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__display {
  padding: 0;
  font-size: 90%;
}
.select2-container .selection .select2-selection .select2-selection__arrow,
.select2-container .selection .select2-selection .select2-selection__clear {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: var(--s2-min-height);
  height: 100%;
  color: var(--s2-placeholder-color);
}
.select2-container .selection .select2-selection .select2-selection__arrow:after,
.select2-container .selection .select2-selection .select2-selection__clear:after {
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
  font-weight: 300;
}
.select2-container .selection .select2-selection .select2-selection__arrow b, .select2-container .selection .select2-selection .select2-selection__arrow span,
.select2-container .selection .select2-selection .select2-selection__clear b,
.select2-container .selection .select2-selection .select2-selection__clear span {
  display: none;
}
.select2-container .selection .select2-selection .select2-selection__arrow:after {
  content: "\f078";
}
.select2-container .selection .select2-selection .select2-selection__clear {
  margin: 0;
}
.select2-container .selection .select2-selection .select2-selection__clear:after {
  content: "\f12d";
}
.select2-container .selection .select2-selection .select2-selection__placeholder {
  color: var(--s2-placeholder-color);
}
.select2-container .selection .select2-selection .select2-selection__clear + .select2-selection__rendered + .select2-selection__arrow {
  right: var(--s2-min-height);
}
.select2-container .select2-dropdown {
  border-color: var(--s2-active-border-color);
  border-radius: var(--s2-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container .select2-dropdown .select2-search {
  padding: 0;
  border-bottom: 1px solid var(--s2-active-border-color);
}
.select2-container .select2-dropdown .select2-search .select2-search__field {
  outline: none;
  border: none;
  padding: 10px var(--s2-padding-x);
  font-size: 90%;
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  padding: var(--s2-option-padding);
  /* opção que está com o "hover" */
  /* opção selecionada */
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
  background-color: var(--s2-option-hover-bg-color);
  color: var(--s2-option-hover-text-color);
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option.select2-results__option--selected {
  background-color: var(--s2-option-active-bg-color) !important;
  color: var(--s2-option-active-text-color) !important;
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option .select2-results__option-text {
  display: flex;
  flex-direction: column;
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option .select2-results__option-text small {
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option .select2-results__option-text small i {
  width: 15px;
  text-align: center;
}
.select2-container.select2-container--open {
  /* DROPDOWN ABERTO: SELECTION */
  /* DROPDOWN ABERTO: DROPDOWN */
}
.select2-container.select2-container--open .selection .select2-selection {
  border-color: var(--s2-active-border-color);
}
/* HACKS */
.select2[data-selected-count="0"] + .select2-container .select2-search {
  margin-left: var(--s2-padding-x) !important;
  width: 100%;
}

#page-with-filters #page-inner {
  background-color: #eee;
}/*# sourceMappingURL=app.css.map */