PROTECTED_FETCH_PROXY_TOKEN=change-me-local-token
PROTECTED_FETCH_ALLOWED_HOSTS=www.olx.com.br,olx.com.br,www.webmotors.com.br,webmotors.com.br
PROTECTED_FETCH_MIN_INTERVAL_SECONDS=3.0
PROTECTED_FETCH_MAX_BODY_BYTES=8388608
PROTECTED_FETCH_MAX_HEADER_VALUE_LENGTH=4096
PROTECTED_FETCH_UPSTREAM_PROXY_URL=
PROTECTED_FETCH_UPSTREAM_PROXY_URLS=
PROTECTED_FETCH_UPSTREAM_PROXY_RETRY_STATUSES=403,429
PROTECTED_FETCH_UPSTREAM_PROXY_RETRY_SLEEP_SECONDS=2.0
